@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f6f8fa;
}

.mdc-text-field--filled {
  border-radius: 6px !important;
}

.mat-badge-content {
  background-color: #00458f !important;
}
